<%- include('partials/head', {
  title: '首页',
  css: '/styles/home.min.css'
}) %>
<body>
  <h3>这里是首页</h3>
  <img class="rotate" src="/images/xiaomai.png" alt="" style="float: left;width: 200px;height: 200px;">
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore repudiandae sed omnis itaque illum esse ea aliquid illo fugiat hic, pariatur deserunt est sint incidunt, quis ipsam odio consequatur at temporibus suscipit natus, laborum dolorum. Nulla magni iusto rem, nobis aliquid eum, fugiat voluptas incidunt animi, impedit laboriosam excepturi.</li>
    <li>Fugiat porro ducimus minus. Veniam unde totam autem error repellendus neque nulla nemo est tempore, quibusdam dolor, ipsum, sit consequatur eos necessitatibus beatae eum eius reiciendis sapiente aliquam assumenda. Voluptates, sapiente dolor adipisci nihil. Doloribus consequuntur, provident deserunt recusandae optio libero voluptatum, ipsa omnis, nulla ratione facere, voluptatibus asperiores nostrum!</li>
    <li>Cum in iure voluptatem cumque esse. Officia corporis accusantium commodi eaque, expedita tempora odit aspernatur. Quibusdam ad atque, quis laborum. Nobis sunt possimus adipisci neque consequuntur fugit vel dolor deleniti voluptatum veniam architecto minima ad dicta, iste, excepturi blanditiis sapiente sed. Nobis quidem odit quaerat officiis reiciendis quia totam nemo.</li>
    <li>Sunt dolore, dolores neque laudantium unde nulla a, quia provident natus molestiae voluptatum sit culpa. Aperiam, enim obcaecati voluptatum alias distinctio pariatur itaque, et cupiditate, dolor aliquid deserunt. Sequi pariatur repellendus veritatis fugiat aspernatur aliquam, minima quas recusandae nulla eligendi repellat excepturi dignissimos, facere, sit quo voluptates ea eius. Fugiat.</li>
    <li>Quasi ducimus, ea perspiciatis saepe facilis eum ullam facere earum corporis minus! Amet odit aperiam voluptates! Sapiente in placeat eius, quos debitis incidunt impedit ullam nulla nam doloremque vel aliquam a quo facilis aut magni necessitatibus quis, omnis excepturi maxime inventore nesciunt. Pariatur, voluptatibus? Dolores nesciunt dolorum velit molestias quod?</li>
  </ul>
  <script src="/lib/home.js"></script>
<%- include partials/footer.ejs %>